specification.fileName=<%=@projectName%>.json

authz.httpClient.pps.1.host=<host>
authz.httpClient.pps.1.port=6060

authz.httpClient.tokenGenerator.1.host=<host>
authz.httpClient.tokenGenerator.1.port=6451

# options: xmlContentMapper, remoteContentMapper
authz.contentMapper.impl=remoteContentMapper
#host and port for CMDC
authz.cmdcServer.1.host=<host>
authz.cmdcServer.1.port=5600
authz.cmdcServer.caSystemId=2558
#CMDC mock parameters
authz.contentMappingFileName=content.xml
authz.channelMappingFileName=channels.xml

#options : BsmRestClient - http client to BSM REST
#          BsmMock - Mock class
authz.offerDatFetcher=BsmRestClient
#host and port for BSM REST
authz.bsmRestServer.1.host=<host>
authz.bsmRestServer.1.port=5253

# household interface implementation (UpmMockImpl, UpmRealImpl)
authz.hhFetcherSender=UpmRealImpl
##authz.httpClient.upm.1.host=<host>
<% $index = 1 %>
<% @upm_host_port.each do |host_port| %>
<% $host_port_array = host_port.split(':') %>
authz.httpClient.upm.<%=$index%>.port = <%=$host_port_array[1]%>
authz.httpClient.upm.<%=$index%>.host = <%=$host_port_array[0]%>
<% $index += 1 %>
<% end %>

##service.acman.1.host=<host>
##service.acman.1.port=6555
<% $index = 1 %>
<% @acman_host_port.each do |host_port| %>
<% $host_port_array = host_port.split(':') %>
service.acman.<%=$index%>.port = <%=$host_port_array[1]%>
service.acman.<%=$index%>.host = <%=$host_port_array[0]%>
<% $index += 1 %>
<% end %>

authz.httpClient.pps.http.exposeStatisticsToMonitor=false
authz.httpClient.tokenGenerator.http.exposeStatisticsToMonitor=false
authz.httpClient.upm.http.exposeStatisticsToMonitor=false

service.mxagentRegistry.innerPort=8590


<% if projectName == "vgs" %>
batch.isEnabled=true
<%end%>

